
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(184, 0, 0);
    display: block;
}

header{
    background-color:rgba(0, 0, 0, 0.4);
    width: 100vw;
    display: flex;
    height: 14vh;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}


h1{
    color: white;
    font-size:40px;
    display: flex;
    align-items: center;
}


/*Main do carrinho*/

.btn-remover {
  background-color: #d63031;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.btn-remover:hover {
  background-color: #e17055;
}