*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(138, 12, 12);
    display: block;
}

header{
    background-color:rgba(0, 0, 0, 0.3);
    width: 100vw;
    display: flex;
    height: 14vh;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}

.logo-container{
    position: relative;
    width: min(20vw, 140px);
    height: auto;
    transform: translate(-20%, 0);
    


}



.fundo{
    position: absolute;
    top: 36%;
    left: 15%;
    width: 60%;
    height: 27%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    box-shadow: 17px 16px 20px rgba(0, 0, 0, 0.7);
}

.logo-img{
    position: relative;
    transform: translateY(0);
    width: 90%;
    height: auto;
    z-index: 2;
   

}

.container-pesquisa{
    display: flex;
    justify-content: center;
    transform: translate(-20%);
    width: min(60vw, 600px);
    height: 3rem;
    position: relative;
    border-radius: 50px;
    background-color: white;
    overflow: hidden;
}

.input-pesquisa{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 2rem;
    border-radius: 50px;
    font-size: 1rem;
    font-family: serif, monospace;

}

.botao-pesquisa{
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;


}





